<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>登录</title>
</head>
<body>
  login登录：<%=msg%>
<div>
  <%for(let i = 0;i<list.length;i++){%>
      <%=list[i]%>
    <%}%>
</div>
</body>
</html>